langchain_experimental
langchain_openai
langchain_community
langchain_core
langsmith
huggingface_hub
openai
replicate
ruff
pypdf
tiktoken
streamlit
unstructured
pandoc # needs system install as well!
sentence-transformers
gradio
gpt4all
google-api-python-client
apify-client
chromadb
lanarky
ray[serve]
faiss-cpu
promptwatch
langchain_decorators
langchain-openai
docarray
protobuf==3.19.0
pysqlite3-binary
